

<h3>Hey <%= @organizerName %></h3>

  <p> "Your event <%= @draft %> has been successfully created!" </p>
 
 <p>You can cross-check the details of your event on your drafts before posting to the main page.</p>

  <p>Have a great day!</p>


Best regards,

Tikiti Tamasha Team.