
<h1>Hey <%= @user.username %>, welcome to Tikiti Tamasha</h1>
  <p>
     You have successfully signed up to Tikiti Tamasha. 
  </p>
  <p>We are excited to have you join our community and we thank you for choosing our platform.</p>
  <p>Now that you have successfully signed up, you can start exploring all the features and functionalities that our app has to offer. Whether you are here to connect with like-minded individuals, learn new skills, or simply have fun, we have something for everyone.</p>




<p>Our team is dedicated to providing you with the best possible experience on our app, and we are committed to continually improving and updating our platform to meet your needs. If you have any questions, feedback or suggestions, please don't hesitate to reach out to us. We are always happy to hear from our users.</p>

Best regards,

Tikiti Tamasha Team.

